Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

fix(deps): update dependency graphql-code-generator to ^0.12.0
  package.json
  yarn.lock
Due: none

fix: exclude pages from content source
  gatsby-config.js
Due: none

fix: exclude pages from content source (#24)
  gatsby-config.js
Due: none

fix(deps): update dependency graphql-codegen-typescript-template to ^0.12.0
  package.json
  yarn.lock
Due: none

fix: graphql type definitions
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: graphql type definitions (#25)
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix(deps): update dependency ts-loader to v5
  package.json
  yarn.lock
Due: none

chore: update styled components
  package.json
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/PageContainer/Container.tsx
  src/theme/globalStyle.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix(deps): update dependency styled-components to v4
  package.json
  yarn.lock
Due: none

refactor(ci): split circleci test and build steps Separate lint, typecheck and unit test steps
  .circleci/config.yml
  package.json
Due: none

refactor(ci): second round
  .circleci/config.yml
Due: none

refactor(ci): lint yaml
  .circleci/config.yml
Due: none

refactor(ci): fix typo in image param
  .circleci/config.yml
Due: none

refactor(ci): fix key names
  .circleci/config.yml
Due: none

refactor(ci): fix lint command
  .circleci/config.yml
Due: none

refactor(ci): split circleci test and build steps (#27)
  .circleci/config.yml
  package.json
Due: none

fix(deps): update styled-components
  package.json
  src/components/Layout/Layout.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore: add .gitattributes and .prettierignore [skip ci]
  .gitattributes
  .prettierignore
Due: none

fix: move ssr from tsx to js and lang to html node
  gatsby-ssr.js
  gatsby-ssr.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: move ssr from tsx to js and lang to html node (#28)
  gatsby-ssr.js
  gatsby-ssr.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Added basic services styles and structure
  src/components/HomepageSection/HomepageSection.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/components/ServicesSection/index.ts
  src/enums/services.ts
  src/theme/globalStyle.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: services grid
  src/components/HomepageSection/HomepageSection.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MobileMenuTrigger.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/pages/homepage.tsx
  src/theme/globalStyle.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: services grid
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: services grid
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/__snapshots__/MobileMenuTrigger.spec.tsx.snap
Due: none

feat: services grid
  public/assets/ecommerce-consultancy.svg
  public/assets/external-integrations.svg
  public/assets/magento-build-and-design.svg
  public/assets/magento-support.svg
  public/assets/powerful-extensions.svg
  public/assets/responsive-design.svg
  src/components/ServicesSection/ServiceIcon.spec.tsx
  src/components/ServicesSection/__snapshots__/ServiceIcon.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Services grid with icons (#29)
  public/assets/ecommerce-consultancy.svg
  public/assets/external-integrations.svg
  public/assets/magento-build-and-design.svg
  public/assets/magento-support.svg
  public/assets/powerful-extensions.svg
  public/assets/responsive-design.svg
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/HomepageSection/HomepageSection.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MobileMenuTrigger.tsx
  src/components/MainMenu/__snapshots__/MobileMenuTrigger.spec.tsx.snap
  src/components/ServicesSection/ServiceIcon.spec.tsx
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/components/ServicesSection/__snapshots__/ServiceIcon.spec.tsx.snap
  src/components/ServicesSection/index.ts
  src/enums/services.ts
  src/pages/homepage.tsx
  src/theme/globalStyle.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: add canonical urls
  README.md
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser markdown --write

feat: add canonical urls (#30)
  README.md
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser markdown --write

fix: exclude /homepage from sitemap /homepage should be hidden from the world till it's ready and shouldn't be indexed
  gatsby-config.js
Due: none

fix: exclude /homepage from sitemap (#31)
  gatsby-config.js
Due: none

refactor: homepage sections
  src/components/ServicesSection/ServicesSection.tsx
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

refactor: use json tranformer for homepage service section
  content/services.json
  src/components/HomepageSection/HomepageSection.tsx
  src/components/ServicesSection/ServiceIcon.spec.tsx
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/enums/services.ts
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Services homepage (#32)
  content/services.json
  src/components/HomepageSection/HomepageSection.tsx
  src/components/ServicesSection/ServiceIcon.spec.tsx
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/enums/services.ts
  src/graphql-types.d.ts
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

refactor: simplify serviceIcons function
  src/components/ServicesSection/ServicesSection.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

refactor: simplify serviceIcons function (#33)
  src/components/ServicesSection/ServicesSection.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: convert service icons to components
  content/services.json
  src/components/ServiceIcon/EcommerceConsultancyIcon.tsx
  src/components/ServiceIcon/ExternalIntegrationsIcon.tsx
  src/components/ServiceIcon/MagentoBuildIcon.tsx
  src/components/ServiceIcon/MagentoSupportIcon.tsx
  src/components/ServiceIcon/PowerfulExtensionsIcon.tsx
  src/components/ServiceIcon/ResponsiveDesignIcon.tsx
  src/components/ServiceIcon/ServiceIcon.spec.tsx
  src/components/ServiceIcon/ServiceIcon.tsx
  src/components/ServiceIcon/images/ecommerce-consultancy.svg
  src/components/ServiceIcon/images/external-integrations.svg
  src/components/ServiceIcon/images/magento-build-and-design.svg
  src/components/ServiceIcon/images/magento-support.svg
  src/components/ServiceIcon/images/powerful-extensions.svg
  src/components/ServiceIcon/images/responsive-design.svg
  src/components/ServiceIcon/index.ts
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: sda
  src/components/ServiceIcon/__snapshots__/ServiceIcon.spec.tsx.snap
Due: none

feat: convert service icons to components (#34)
  content/services.json
  src/components/ServiceIcon/EcommerceConsultancyIcon.tsx
  src/components/ServiceIcon/ExternalIntegrationsIcon.tsx
  src/components/ServiceIcon/MagentoBuildIcon.tsx
  src/components/ServiceIcon/MagentoSupportIcon.tsx
  src/components/ServiceIcon/PowerfulExtensionsIcon.tsx
  src/components/ServiceIcon/ResponsiveDesignIcon.tsx
  src/components/ServiceIcon/ServiceIcon.spec.tsx
  src/components/ServiceIcon/ServiceIcon.tsx
  src/components/ServiceIcon/__snapshots__/ServiceIcon.spec.tsx.snap
  src/components/ServiceIcon/images/ecommerce-consultancy.svg
  src/components/ServiceIcon/images/external-integrations.svg
  src/components/ServiceIcon/images/magento-build-and-design.svg
  src/components/ServiceIcon/images/magento-support.svg
  src/components/ServiceIcon/images/powerful-extensions.svg
  src/components/ServiceIcon/images/responsive-design.svg
  src/components/ServiceIcon/index.ts
  src/components/ServicesSection/ServiceIcon.tsx
  src/components/ServicesSection/ServicesSection.tsx
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: add catch links plugin to improve relative links
  gatsby-config.js
  package.json
  yarn.lock
Due: none

feat: add catch links plugin to improve relative links (#35)
  gatsby-config.js
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --config .prettierrc --parser typescript --write: any of: ./src/**/*.{ts,tsx}
  stylelint: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --parser markdown --write: any of: {./content/**/*.md,./README.md}
