Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "prettier --config .prettierrc --parser typescript --write",
    "stylelint",
    "git add"
  ],
  "{./content/**/*.md,./README.md}": [
    "prettier --config .prettierrc --parser markdown --write ",
    "git add"
  ]
}

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: rss feed
  gatsby-config.js
  package.json
  yarn.lock
Due: none

feat: rss feed
  content/blog/sample-post2.md
  gatsby-config.js
Due: prettier --config .prettierrc --parser markdown --write

feat: rss feed plugin (#122)
  content/blog/sample-post2.md
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser markdown --write

chore(deps): update dependency graphql-code-generator to ^0.18.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-client to ^0.18.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-add to ^0.18.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-common to ^0.18.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-server to ^0.18.0
  package.json
  yarn.lock
Due: none

chore: update graphql type definitions
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore: update graphql type definitions (#129)
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog template
  src/pages/blog.tsx
  src/templates/BlogTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog template
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsList/index.ts
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  src/components/BlogPostsListItem/index.ts
  src/pages/blog.tsx
  src/templates/BlogTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog template
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  src/templates/BlogTemplate.tsx
  src/theme/colors.ts
  src/theme/sizes.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore: clean up renovate config
  renovate.json
Due: none

feat: blog index
  content/blog/sample-post3.md
  content/blog/sample-post4.md
  package.json
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: blog index
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  src/templates/BlogTemplate.tsx
  src/theme/sizes.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

style: format code
  src/components/BlogPostsList/index.ts
  src/components/BlogPostsListItem/index.ts
  src/pages/blog.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog index
  src/components/BlogLayout/BlogLayout.tsx
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  src/components/Newsletter/Newsletter.tsx
  src/theme/displayDimensions.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog index template (#130)
  content/blog/sample-post3.md
  content/blog/sample-post4.md
  package.json
  src/components/BlogLayout/BlogLayout.tsx
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/BlogPostsList/index.ts
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
  src/components/BlogPostsListItem/index.ts
  src/components/Newsletter/Newsletter.tsx
  src/pages/blog.tsx
  src/templates/BlogTemplate.tsx
  src/theme/colors.ts
  src/theme/displayDimensions.ts
  src/theme/sizes.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

fix: update dependencies and fix jest describe shouldn't return value
  package.json
  src/components/FooterMenu/FooterMenu.spec.tsx
  src/components/GoToTop/GoToTop.spec.tsx
  src/components/Header/Header.spec.tsx
  src/components/Layout/Layout.tsx
  src/components/MainMenu/MainMenu.spec.tsx
  src/components/MainMenuWrapper/MainMenuWrapper.tsx
  src/components/MenuItem/MenuItem.spec.tsx
  src/components/MobileMenuTrigger/MobileMenuTrigger.spec.tsx
  src/components/MobileMenuTrigger/MobileMenuTrigger.tsx
  src/components/MobileMenuTrigger/__snapshots__/MobileMenuTrigger.spec.tsx.snap
  src/components/MobileMenuTrigger/index.ts
  src/components/ServiceIcon/ServiceIcon.spec.tsx
  src/components/SocialShareButtons/SocialShareButtons.spec.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

refactor: use useStaticQuery hook
  package.json
  src/components/MetaData/MetaData.tsx
  src/hooks/UseSiteMetadata.tsx
  src/pages/blog.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

refactor: use useStaticQuery hook (#131)
  package.json
  src/components/MetaData/MetaData.tsx
  src/hooks/UseSiteMetadata.tsx
  src/pages/blog.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: add clean script
  README.md
  package.json
Due: prettier --config .prettierrc --parser markdown --write

ci(renovate): change strategy to bump
  renovate.json
Due: none

chore(types): update graphql types
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none
