Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "prettier --config .prettierrc --parser typescript --write",
    "stylelint",
    "git add"
  ],
  "{./content/**/*.md,./README.md}": [
    "prettier --config .prettierrc --parser markdown --write ",
    "git add"
  ]
}

Fixed wrong imports
  src/components/ComingSoon/ComingSoon.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/components/LegacyLayout/LegacyLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

improvement: add husky and lint-staged (#8)
  .huskyrc
  .lintstagedrc
  package.json
  yarn.lock
Due: none

improvement: Introduced legacy components to not break things with new components (#7)
  src/components/ComingSoon/ComingSoon.tsx
  src/components/Layout/Layout.tsx
  src/components/LegacyHeader/LegacyHeader.tsx
  src/components/LegacyHeader/index.ts
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/LegacyLayout/index.ts
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Prepared layout for main menu
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/index.ts
  src/enums/menuItems.js
  src/pages/homepage.tsx
  src/theme/globalStyle.ts
  src/theme/index.ts
  src/theme/transitions.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Changed quotes to backticks
  src/enums/menuItems.js
Due: none

feat: Prepared layout for the main menu (#9)
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/index.ts
  src/enums/menuItems.js
  src/pages/homepage.tsx
  src/theme/globalStyle.ts
  src/theme/index.ts
  src/theme/transitions.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

improvement: remove unused imports and fix type declarations Fix type declarations for images
  src/components/Header/Header.tsx
  src/components/PageContainer/Container.tsx
  src/declarations.d.ts
  tsconfig.json
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: introduce type-check and enable it for PRs
  .circleci/config.yml
  package.json
  yarn.lock
Due: none

more type fixes
  src/components/MainMenu/MainMenu.tsx
  src/enums/menuItems.js
  src/enums/menuItems.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix merge
  src/components/Header/Header.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix type colision
  src/components/MainMenu/MainMenu.tsx
  src/enums/menuItems.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

* feat: introduce type-check and enable it for PRs
  .circleci/config.yml
  package.json
  src/components/Header/Header.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/PageContainer/Container.tsx
  src/declarations.d.ts
  src/enums/menuItems.js
  src/enums/menuItems.ts
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Using LegacyLayout on all legacy pages
  src/pages/contact.tsx
  src/templates/PageTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: New menu shows on legacy pages
  src/pages/contact.tsx
  src/templates/PageTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: Each child in an array or iterator should have a unique "key" prop Added a key prop based on index for menu items
  src/components/MainMenu/MainMenu.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: Each child in an array or iterator should have a unique "key" prop (#12)
  src/components/MainMenu/MainMenu.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

improvement: introduce jest for unit tests
  .circleci/config.yml
  __mocks__/fileMock.js
  __mocks__/gatsby-link.js
  __mocks__/gatsby.js
  jest-transformer.js
  jest.config.js
  loadershim.js
  package.json
  src/components/Header/Header.spec.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

improvement: Update ts-lint and configuration
  package.json
  tslint.json
  yarn.lock
Due: none

improvement: introduce jest for unit tests
  .circleci/config.yml
  __mocks__/fileMock.js
  __mocks__/gatsby-link.js
  __mocks__/gatsby.js
  jest-transformer.js
  jest.config.js
  loadershim.js
  package.json
  src/components/Header/Header.spec.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

improvement: fix few codacy warnings for jest files
  jest-transformer.js
  jest.config.js
Due: none

improvement: fix few codacy warnings for jest files (#14)
  jest-transformer.js
  jest.config.js
Due: none

improvement: add coverage dir to .gitignore and add test:coverage command [skip ci]
  .gitignore
  package.json
Due: none

improvement: add coverage dir to .gitignore and add test:coverage (#15)
  .gitignore
  package.json
Due: none

chore: lint on message
  .huskyrc
  commitlint.config.js
  package.json
  yarn.lock
Due: none

chore: lint commit message on git hook (#16)
  .huskyrc
  commitlint.config.js
  package.json
  yarn.lock
Due: none

feat: Basic mobile version of menu, rendering sections of homepage based on enum, introduced HomepageSection component for rendering sections, created dimensions module to hold dimensions for styles
  package-lock.json
  package.json
  src/components/Header/Header.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/HomepageSection/index.ts
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/enums/homepageSections.ts
  src/enums/menuItems.ts
  src/pages/homepage.tsx
  src/theme/dimensions.ts
  src/theme/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: main menu Added transitions for mobile menu styles, mechanism for showing / hiding menu
  package.json
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/theme/dimensions.ts
  src/theme/displayDimensions.ts
  src/theme/index.ts
  src/theme/sizes.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: main menu Made menu fixed to the top MenuItem and MobileMenuTrigger as a separate components Added keys for iterated arrays Introduced borderColor
  package.json
  src/components/Header/Header.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/MenuItem.tsx
  src/components/MainMenu/MobileMenuTrigger.tsx
  src/pages/homepage.tsx
  src/theme/colors.ts
  src/theme/globalStyle.ts
  src/theme/sizes.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: main menu
  src/components/Header/__snapshots__/Header.spec.tsx.snap
Due: none

feat: main menu
  src/components/MainMenu/MenuItem.spec.tsx
  src/components/MainMenu/MobileMenuTrigger.spec.tsx
  src/components/MainMenu/__snapshots__/MenuItem.spec.tsx.snap
  src/components/MainMenu/__snapshots__/MobileMenuTrigger.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: support json transformer and introduce authors.json
  content/author.json
  content/avatars/piotrkwiecinski.jpg
  gatsby-config.js
  package.json
  yarn.lock
Due: none

chore: lint commit message on git hook (#16)
  gatsby/createPages.js
  plopfile.js
Due: none

feat: support json transformer and introduce authors.json
  content/author.json
  content/avatars/piotrkwiecinski.jpg
  gatsby-config.js
  gatsby/createPages.js
  package.json
  plopfile.js
  yarn.lock
Due: none

delete package-lock.json
  package-lock.json
Due: none

feat: Main menu scroll and mobile (#17)
  package.json
  src/components/Header/Header.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/HomepageSection/HomepageSection.tsx
  src/components/HomepageSection/index.ts
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/MenuItem.spec.tsx
  src/components/MainMenu/MenuItem.tsx
  src/components/MainMenu/MobileMenuTrigger.spec.tsx
  src/components/MainMenu/MobileMenuTrigger.tsx
  src/components/MainMenu/__snapshots__/MenuItem.spec.tsx.snap
  src/components/MainMenu/__snapshots__/MobileMenuTrigger.spec.tsx.snap
  src/enums/homepageSections.ts
  src/enums/menuItems.ts
  src/pages/homepage.tsx
  src/theme/colors.ts
  src/theme/displayDimensions.ts
  src/theme/globalStyle.ts
  src/theme/index.ts
  src/theme/sizes.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Add renovate.json
  renovate.json
Due: none

Initial config
  renovate.json
Due: none

chore(deps): update dependency prettier to v1.14.3
  package.json
  yarn.lock
Due: none

style: fix readme styling
  README.md
Due: prettier --config .prettierrc --parser markdown --write

style: update styles for tsx files
  src/components/ComingSoon/ComingSoon.tsx
  src/pages/contact.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint
