Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

docs: update scripts list, features, directory structure
  README.md
  package.json
Due: prettier --config .prettierrc --parser markdown --write

feat: contact form
  package.json
  src/helpers/validationHelper.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  yarn.lock
Due: none

chore(deps): lock file maintenance
  src/graphql-types.d.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: update graphql types generation to match previous settings
  codegen.yml
  package.json
  src/graphql-types.d.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(deps): update dependency prettier to v1.15.3
  package.json
  yarn.lock
Due: none

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/components/Input/Input.tsx
  src/components/TextArea/TextArea.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/Button/Button.tsx
  src/components/Input/Input.tsx
  src/components/NewsletterInput/NewsletterInput.tsx
  src/components/TextArea/TextArea.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  package.json
Due: none

feat: contact form
  src/components/Button/Button.tsx
  src/components/ContactForm/ContactForm.tsx
  src/components/Newsletter/Newsletter.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form (#63)
  package.json
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/index.ts
  src/components/Footer/Footer.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/Newsletter/Newsletter.tsx
  src/components/Newsletter/index.ts
  src/components/NewsletterInput/NewsletterInput.tsx
  src/components/NewsletterInput/index.ts
  src/components/SectionContentContainer/SectionContentContainer.tsx
  src/components/SectionContentContainer/index.ts
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/index.ts
  src/helpers/validationHelper.ts
  src/pages/homepage.tsx
  src/theme/colors.ts
  src/theme/typography.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: add missing contact link to the top navigation
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: add no script warning
  gatsby-ssr.js
Due: none

chore(deps): update dependency graphql-code-generator to ^0.15.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-add to ^0.15.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-client to ^0.15.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-common to ^0.15.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-server to ^0.15.0
  package.json
  yarn.lock
Due: none

chore: update graphql type definitions
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: move prismjs plugin after autolink headers in gatsby config
  gatsby-config.js
Due: none

feat: enable gatsby-remark-copy-linked files-plugin
  README.md
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser markdown --write

chore(deps): update dependency @types/validator to v10
  package.json
  yarn.lock
Due: none

feat: blog post component
  src/components/BlogPost/BlogPost.tsx
  src/components/BlogPost/index.ts
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog post component (#74)
  src/components/BlogPost/BlogPost.tsx
  src/components/BlogPost/index.ts
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: structured data types
  content/blog/sample-post.md
  src/components/BlogPost/BlogPost.tsx
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: add author mapping in post meta
  gatsby-config.js
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: avatar data structure in post graphql
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: structured data types
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: structured data types
  src/components/BlogPost/BlogPost.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: structured data types (#77)
  content/blog/sample-post.md
  gatsby-config.js
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

Path conditions:
  prettier --config .prettierrc --parser typescript --write: any of: ./src/**/*.{ts,tsx}
  stylelint: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --parser markdown --write: any of: {./content/**/*.md,./README.md}
