Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: hero banner
  content/author.json
  content/avatars/piotrkwiecinski.jpg
  content/blog/sample-post.md
  content/posts/post-background.jpg
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogHero/index.ts
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: hero banner
  src/components/BlogHero/BlogHero.tsx
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: hero banner (#78)
  content/author.json
  content/avatars/piotrkwiecinski.jpg
  content/blog/sample-post.md
  content/posts/post-background.jpg
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogHero/index.ts
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: post layout
  content/blog/sample-post.md
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogLayout/BlogLayout.tsx
  src/components/BlogLayout/index.ts
  src/components/BlogPost/BlogPost.tsx
  src/templates/PageTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: post layout
  content/blog/sample-post.md
  src/components/BlogLayout/BlogLayout.tsx
  src/components/BlogPost/BlogPost.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: post layout
  src/components/BlogLayout/BlogLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: blog post layout with sidebar (#80)
  content/blog/sample-post.md
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogLayout/BlogLayout.tsx
  src/components/BlogLayout/index.ts
  src/components/BlogPost/BlogPost.tsx
  src/templates/PageTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

chore(deps): lock file maintenance (#81)
  yarn.lock
Due: none

feat: disqus addon
  src/components/BlogLayout/BlogLayout.tsx
  src/components/DisqusThread/DisqusThread.tsx
  src/components/DisqusThread/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: code block styles
  gatsby-browser.js
  src/components/BlogLayout/BlogLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: code block styles
  gatsby-browser.tsx
Due: none

feat: social share buttons
  package.json
  src/components/BlogLayout/BlogLayout.tsx
  src/components/SocialShareButtons/SocialShareButtons.tsx
  src/components/SocialShareButtons/index.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: social share buttons
  src/components/SocialShareButtons/SocialShareButtons.spec.tsx
  src/components/SocialShareButtons/__snapshots__/SocialShareButtons.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: social share buttons
  package.json
Due: none

feat: social share buttons
  src/components/SocialShareButtons/SocialShareButtons.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: selfhosted fonts
  gatsby-browser.js
  package.json
  src/theme/globalStyle.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: selfhosted fonts (#85)
  gatsby-browser.js
  package.json
  src/theme/globalStyle.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: code block styles (#83)
  gatsby-browser.js
  gatsby-browser.tsx
  src/components/BlogLayout/BlogLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: social share buttons (#84)
  package.json
  src/components/BlogLayout/BlogLayout.tsx
  src/components/SocialShareButtons/SocialShareButtons.spec.tsx
  src/components/SocialShareButtons/SocialShareButtons.tsx
  src/components/SocialShareButtons/__snapshots__/SocialShareButtons.spec.tsx.snap
  src/components/SocialShareButtons/index.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(deps): update dependency prettier to v1.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-code-generator to ^0.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-add to ^0.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-client to ^0.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-common to ^0.16.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency graphql-codegen-typescript-server to ^0.16.0
  package.json
  yarn.lock
Due: none

feat: automerge minor, patch dependency updates handled by renovate
  renovate.json
Due: none

feat: automerge minor, patch dependency updates handled by renovate (#93)
  renovate.json
Due: none

chore(deps): update dependency prettier to v1.16.1
  package.json
  yarn.lock
Due: none

feat: add github code owners to enable default reviewers
  .github/CODEOWNERS
Due: none

feat: add github code owners to enable default reviewers (#95)
  .github/CODEOWNERS
Due: none

chore(deps): update jest monorepo to v24
  package.json
  yarn.lock
Due: none

fix(deps): lock jest to < 24 till new version of ts-jest is available
  package.json
  yarn.lock
Due: none

fix: update graphql types and fix strict null validation
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix: update graphql types and fix strict null validation (#97)
  src/components/BlogHero/BlogHero.tsx
  src/components/BlogPost/BlogPost.tsx
  src/graphql-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Path conditions:
  prettier --config .prettierrc --parser typescript --write: any of: ./src/**/*.{ts,tsx}
  stylelint: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --parser markdown --write: any of: {./content/**/*.md,./README.md}
