Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write, prettier --write

.lintstagedrc:

{
  "./src/**/*.{ts,tsx}": [
    "prettier --config .prettierrc --parser typescript --write",
    "stylelint",
    "git add"
  ],
  "{./content/**/*.md,./README.md}": [
    "prettier --config .prettierrc --parser markdown --write ",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "./src/**/*.{ts,tsx}": [
    "prettier --write",
    "stylelint"
  ],
  "{./content/**/*.md,./README.md}": [
    "prettier --write"
  ]
}

chore(deps): update dependency prettier to v2.7.1
  package.json
  yarn.lock
Due: none

chore(deps) update jest config
  jest.config.js
Due: none

chore(deps): update snapshots
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/SocialShareButtons/__snapshots__/SocialShareButtons.spec.tsx.snap
Due: none

chore(deps): update jest
  src/components/FooterMenu/FooterMenu.spec.tsx
  src/components/FooterMenu/__snapshots__/FooterMenu.spec.tsx.snap
  src/components/MainMenu/MainMenu.spec.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

chore(build): update circleci images
  .circleci/config.yml
Due: none

fix(build): use pip3 instead of pip
  .circleci/config.yml
Due: none

fix(build): replace python image with aws
  .circleci/config.yml
Due: none

chore(build): ci execution tweaks
  .circleci/#config.yml#
  gatsby-config.js
  package.json
  yarn.lock
Due: none

.
  .circleci/#config.yml#
Due: none

chore(build): ci execution tweaks (#1803)
  .circleci/config.yml
  gatsby-config.js
  package.json
  yarn.lock
Due: none

build: fix deployment
  .circleci/config.yml
Due: none

chore: clean up deployment, coming soon syntax, privacy policy update
  .circleci/config.yml
  content/pages/privacy-policy.md
  src/components/ComingSoon/ComingSoon.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write, prettier --write

refactor: reformat
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

refactor: add types
  package.json
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/index.ts
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/gatsby-types.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

fix: newsletter form resize, add contact information
  src/components/BlogPostsList/BlogPostsList.tsx
  src/components/Footer/__snapshots__/Footer.spec.tsx.snap
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/Newsletter/Newsletter.tsx
  src/components/Newsletter/__snapshots__/Newsletter.spec.tsx.snap
  src/helpers/navigation.tsx
  src/pages/index.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

feature: add contact form
  src/components/Contact/Contact.tsx
  src/components/Contact/index.ts
  src/helpers/navigation.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

fix: failing tests
  src/components/Footer/__snapshots__/Footer.spec.tsx.snap
  src/components/Header/__snapshots__/Header.spec.tsx.snap
Due: none

chore: remove plop
  package.json
  plop-templates/component/component.tsx.hbs
  plop-templates/component/index.ts.hbs
  plop-templates/content/page.md.hbs
  plopfile.js
  yarn.lock
Due: none

chore: clean up unused code, packeges, update readme
  .prettierrc
  README.md
  gatsby-node.js
  gatsby/createPages.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --parser markdown --write, prettier --write

chore: move gatsby node, browser, ssr to typescript
  README.md
  gatsby-browser.tsx
  gatsby-node.ts
  gatsby-ssr.tsx
  tsconfig.json
Due: prettier --config .prettierrc --parser markdown --write, prettier --write

chore: remove unused text area component
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

chore: use webp images
  content/author.json
  content/avatars/malgorzata.webp
  content/avatars/piotrkwiecinski.webp
  src/declarations.d.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

chore(deps): add missing dependency
  package.json
Due: none

chore: update type
  src/components/BlogPostsListItem/BlogPostsListItem.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

chore: update tests
  src/components/Header/__snapshots__/Header.spec.tsx.snap
Due: none

format code
  src/components/Button/Button.tsx
  src/components/GoToTop/GoToTop.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --write

update snapshots
  src/components/GoToTop/__snapshots__/GoToTop.spec.tsx.snap
Due: none

chore(deps): update snapshot
  src/components/Header/__snapshots__/Header.spec.tsx.snap
Due: none

ci: update engine
  .circleci/config.yml
Due: none

ci: update node version
  .circleci/config.yml
Due: none

update node version
  .circleci/config.yml
Due: none

ci: replace s3 bucket name with variable
  .circleci/config.yml
Due: none

chore(deps): update snapshots
  src/components/Header/__snapshots__/Header.spec.tsx.snap
Due: none

chore(deps): update tests
  src/components/Footer/__snapshots__/Footer.spec.tsx.snap
Due: none
