Repository codemanufacture/codemanufacture.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

Fix: header should be overlapped with footer (#49)
  src/components/Header/Header.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/theme/index.ts
  src/theme/zIndexes.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: navigation
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/Menu/__snapshots__/MenuItem.spec.tsx.snap
Due: none

feat: navigation
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: navigation
  src/components/Footer/Footer.tsx
  src/components/FooterMenu/FooterMenu.tsx
  src/components/FooterMenu/index.ts
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/index.ts
  src/components/MainMenuWrapper/MainMenuWrapper.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/MenuItemInterface.ts
  src/components/Menu/__snapshots__/MenuItem.spec.tsx.snap
  src/components/Menu/index.ts
  src/components/MenuItem/MenuItem.spec.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/index.ts
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: navigation
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MenuItem/__snapshots__/MenuItem.spec.tsx.snap
Due: none

feat: navigation
  src/components/FooterMenu/FooterMenu.spec.tsx
  src/components/FooterMenu/__snapshots__/FooterMenu.spec.tsx.snap
  src/components/MainMenu/MainMenu.spec.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

Made footer and header nav independent (#50)
  src/components/Footer/Footer.tsx
  src/components/FooterMenu/FooterMenu.spec.tsx
  src/components/FooterMenu/FooterMenu.tsx
  src/components/FooterMenu/__snapshots__/FooterMenu.spec.tsx.snap
  src/components/FooterMenu/index.ts
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/MainMenu.spec.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
  src/components/MainMenu/index.ts
  src/components/MainMenuWrapper/MainMenuWrapper.tsx
  src/components/Menu/Menu.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Menu/index.ts
  src/components/MenuItem/MenuItem.spec.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MenuItem/__snapshots__/MenuItem.spec.tsx.snap
  src/components/MenuItem/index.ts
  src/enums/homepageSections.ts
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: main menu
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

style: homepage styles cleanup
  src/components/HomepageSection/HomepageSection.tsx
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat:added border in mobile version of menu (#51)
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
Due: prettier --config .prettierrc --parser typescript --write, stylelint

style: remove homepage styles used at the dev stage (#52)
  src/components/HomepageSection/HomepageSection.tsx
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: meta data
  src/components/Layout/Layout.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/MetaData/MetaData.tsx
  src/components/MetaData/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: go to top button
  src/components/GoToTop/GoToTop.spec.tsx
  src/components/GoToTop/GoToTop.tsx
  src/components/GoToTop/__snapshots__/GoToTop.spec.tsx.snap
  src/components/GoToTop/images/chevron.svg
  src/components/GoToTop/index.ts
  src/components/Layout/Layout.tsx
  src/theme/zIndexes.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: meta data
  src/components/Header/Header.spec.tsx
  src/components/Header/Header.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/LegacyHeader/LegacyHeader.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: go to top button
  package.json
  src/components/GoToTop/GoToTop.tsx
  src/components/MainMenu/MainMenu.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: metadata component (#53)
  src/components/Header/Header.spec.tsx
  src/components/Header/Header.tsx
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/LegacyHeader/LegacyHeader.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/MetaData/MetaData.tsx
  src/components/MetaData/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: go to top button
  package.json
  src/components/GoToTop/GoToTop.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: go to top button
  package.json
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
  yarn.lock
Due: none

feat: go to top button (#55)
  package.json
  src/components/GoToTop/GoToTop.spec.tsx
  src/components/GoToTop/GoToTop.tsx
  src/components/GoToTop/__snapshots__/GoToTop.spec.tsx.snap
  src/components/GoToTop/images/chevron.svg
  src/components/GoToTop/index.ts
  src/components/Header/__snapshots__/Header.spec.tsx.snap
  src/components/Layout/Layout.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenu/__snapshots__/MainMenu.spec.tsx.snap
  src/theme/zIndexes.ts
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/InputWrapper.tsx
  src/components/ContactForm/index.ts
  src/pages/homepage.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/InputWrapper.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

fix(deps): update dependency graphql-code-generator to ^0.14.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency graphql-codegen-typescript-template to ^0.14.0
  package.json
  yarn.lock
Due: none

chore: move graphql types generator configuration to codegen.yml
  codegen.yml
  package.json
Due: none

fix: add proper social media links to icons
  src/components/SocialIcon/FacebookIcon.tsx
  src/components/SocialIcon/GithubIcon.tsx
  src/components/SocialIcon/LinkedinIcon.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: initial blog post support
  content/blog/sample-post.md
  gatsby-config.js
  gatsby/createPages.js
  gatsby/onCreateNode.js
  package.json
  src/components/Footer/NewsletterForm.tsx
  src/components/SocialIcon/SocialIcon.tsx
  src/templates/PostTemplate.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

feat: initial blog post support (#58)
  content/blog/sample-post.md
  gatsby-config.js
  gatsby/createPages.js
  gatsby/onCreateNode.js
  package.json
  src/components/Footer/NewsletterForm.tsx
  src/components/SocialIcon/SocialIcon.tsx
  src/templates/PostTemplate.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint, prettier --config .prettierrc --parser markdown --write

chore: replace deprecated SFC with function component
  src/components/Footer/DarkerFooter.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/Layout/Layout.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenuWrapper/components/MobileMenuTrigger.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MetaData/MetaData.tsx
  src/components/ServiceIcon/ServiceIcon.tsx
  src/components/SocialIcon/SocialIcon.tsx
  src/templates/PageTemplate.tsx
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore: replace deprecated SFC with function component (#59)
  src/components/Footer/DarkerFooter.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/Layout/Layout.tsx
  src/components/LegacyLayout/LegacyLayout.tsx
  src/components/Logo/Logo.tsx
  src/components/MainMenu/MainMenu.tsx
  src/components/MainMenuWrapper/components/MobileMenuTrigger.tsx
  src/components/MenuItem/MenuItem.tsx
  src/components/MetaData/MetaData.tsx
  src/components/ServiceIcon/ServiceIcon.tsx
  src/components/SocialIcon/SocialIcon.tsx
  src/templates/PageTemplate.tsx
  src/templates/PostTemplate.tsx
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore(ci): run unit tests without waiting for linter and type check
  .circleci/config.yml
Due: none

chore(ci): run unit tests without waiting for linter and type check (#60)
  .circleci/config.yml
Due: none

feat: contact form
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/InputWrapper.tsx
  src/components/ContactForm/TextAreaWrapper.tsx
  src/components/HomepageSection/HomepageSection.tsx
  src/components/SectionContentContainer/SectionContentContainer.tsx
  src/components/SectionContentContainer/index.ts
  src/theme/colors.ts
  src/theme/typography.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/InputWrapper.tsx
  src/components/Footer/Footer.tsx
  src/components/Input/Input.tsx
  src/components/Newsletter/Newsletter.tsx
  src/components/Newsletter/index.ts
  src/components/NewsletterInput/NewsletterInput.tsx
  src/components/NewsletterInput/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  package.json
  src/components/ContactForm/ContactForm.tsx
  src/components/Footer/Footer.tsx
  src/components/Input/Input.tsx
  yarn.lock
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/helpers/validationHelper.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

feat: contact form
  src/components/ContactForm/ContactForm.tsx
  src/components/ContactForm/TextAreaWrapper.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/index.ts
Due: prettier --config .prettierrc --parser typescript --write, stylelint

chore: simplify editorconfig
  .editorconfig
Due: none

Path conditions:
  prettier --config .prettierrc --parser typescript --write: any of: ./src/**/*.{ts,tsx}
  stylelint: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --parser markdown --write: any of: {./content/**/*.md,./README.md}
